.about {
    text-align: center;
    padding: 50px 0;
    height: 80vh;
    background: url('../Static/HeroCover.jpg') no-repeat center center/cover;
}

.head {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.info{
    display: flex;
}

.profile {
    margin: auto auto auto 7%;
    text-align: center;
}

.profile img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.achievements{
    color: black;
    margin-right: auto;
    margin: 100px auto;
    border-spacing: 3vw 1vw;
    table-layout: fixed;
}

.achievements tr{
    margin: 20px;
    transition: transform 3s ease;
}

.achievements td{
    /* padding: 10vh 15vw; */
    padding: 0;
    background-color: aqua;
    border-radius: 20px;
    transition: transform 0.3s ease;
} 

.achievements td:hover{
    transform: scale(1.1);
}

.achievements td:hover .description{
    display: block;
    text-align: left;
    opacity: 100;
}

.achievements td:hover .specs h1, .achievements td:hover .achievement{
    transform: translateX(20000px);
    display: none;
}

.specs h1, .achievement{
    transition: transform 0.3s ease, display 3s ease;
}


.specs{
    min-width: 25vw;
    padding: 10px; 
    border-radius: 20px; 
    font-family: "Roboto", sans-serif; 
}

.description{
    display: none; 
    width: 20vw;
    opacity: 0;
    padding: auto;
    margin: auto;
    
}


.profile figcaption {
    font-size: 1.2rem;
    color: #FFF;
    margin-top: 10px;
}

.skills {
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Flexbox layout for skill rows */
.skills-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

/* Skill Progress Bar Container */
.skill {
    width: 45%;
    text-align: left;
}

/* Skill label positioned above the progress bar */
.skill label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Progress Bar Styling */
.progress-bar {
    background-color: #555;
    border-radius: 20px;
    overflow: hidden;
    height: 25px;
    width: 100%;
    margin: 0 auto;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.progress {
    background-color: #ff5722;
    height: 100%;
    transition: width 0.5s ease;
}

/* Responsive Design */

@media (max-width: 1300px) {
    .info{
        display:contents
    }

    .profile {
        margin: auto;
    }

    .about{
        height: auto;
    }

    .profile img {
        width: 300px;
        height: 300px;
    }

    .achievements{
        margin: 10px auto;
        height: 25vh;
    }

    .specs{
        min-width: 30vw;
    }

    .achievements td{
        padding: 5px 2vw;
    } 
    
    .description{
        width: 35vw;
    }

    .achievements{
        border-spacing: 4vw 2vw;
    }
}


@media (max-width: 768px) {
    .skills-row {
        flex-direction: column;
    }

    .skill {
        width: 100%;
        margin-bottom: 20px;
    }

    .profile img {
        width: 250px;
        height: 250px;
    }

    .about h1, .skills h2 {
        font-size: 2rem;
    }

    .achievements{
        border-spacing: 4vw 3.5vw;
    }
}
