/* Styling the entire body */
body {
  font-family: "Roboto", sans-serif; /* Set the font-family to Roboto or a sans-serif fallback */
}

/* Set the styling for the nav element */
nav {
  font-weight: 500;
  font-style: normal;
  margin: 0; /* Remove the default margin */
  padding: 0; /* Remove the default padding */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

/* Set styling for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1f1f1f;
  position: sticky; /* Set the position to sticky */
  top: 0; /* Set the top position to 0 */
  z-index: 100; /* Set the z-index to 100 */
}

/* Set styling for nav-left element */
.navbar .nav-left {
  display: flex;
  gap: 20px; /* Set the gap between elements to 20px */
}

/* Set styling for the navbar links */
.navbar a {
  color: #e0e0e0; /* Set the color to a light color */
  text-decoration: none; /* Remove the default text-decoration */
  padding: 10px 20px;
  transition: background-color 0.3s ease, border-radius 0.3s ease; /* Set the transition for the background-color and border-radius */
  font-weight: bold;
}

/* Set styling for the active link */
#active {
  border-radius: 4px;
  border: #019ea9 solid 2px;
  color: white;
}

/* Set the background-color for the active link on hover */
#active:hover {
  background-color: #019ea9;
}

/* Set the background-color, color, and border-radius for the navbar links on hover */
.navbar a:hover {
  background-color: #019ea9;
  color: #ffffff;
  border-radius: 4px;
}

/* Set the keyframes for the border-animation */
@keyframes border-animation {
  0% {
    border: 2px solid #50f3ffc7;
    color: #50f3ff;
  }
  10% {
    border: 2px solid #ff6f61;
    color: #ff6f61;
  }
  20% {
    border: 2px solid #ffcc00;
    color: #ffcc00;
  }
  30% {
    border: 2px solid #6b5b95;
    color: #6b5b95;
  }
  40% {
    border: 2px solid #88d8b0;
    color: #88d8b0;
  }
  50% {
    border: 2px solid #ff3d00;
    color: #ff3d00;
  }
  60% {
    border: 2px solid #9c27b0;
    color: #9c27b0;
  }
  70% {
    border: 2px solid #4caf50;
    color: #4caf50;
  }
  80% {
    border: 2px solid #3f51b5;
    color: #3f51b5;
  }
  90% {
    border: 2px solid #ffeb3b;
    color: #ffeb3b;
  }
  100% {
    border: 2px solid #50f3ffc7;
    color: #ffffff;
  }
}

/* Set styling for the signup-btn links */
.signup-btn a {
  display: inline-block;
  background-color: #50f3ffc7;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 4px;
  animation: border-animation 0.00001s linear forwards;
  transition: background-color 0.3s ease, transform 0.3s ease,
    border-radius 1 ease;
}

/* Set the padding, background-color, and animation for the signup-btn links on hover */
.signup-btn a:hover {
  padding: 10px 20px;
  background-color: #1f1f1f;
  animation: border-animation 10s linear infinite alternate-reverse;
}

/* Set the background-color, color, text-align, padding, margin-top, and font-size for the footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Set the flex-direction, align-items, text-align, position, and flex-direction for the navbar on screens smaller than 489px */
@media (max-width: 489px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: inherit;
  }

  .navbar .nav-left {
    flex-direction: column;
    gap: 10px;
  }

  .navbar a {
    width: 80vw;
  }

  .signup-btn {
    align-self: left;
    margin-top: 10px;
  }
}
